@import "./variable.css";
/*=============== ABOUT ===============*/
.about_container {
    display: grid;
    row-gap: 2rem;
    background: var(--container-color);
    border-radius: 3rem;
   }
  
   .about_data {
    padding: 2rem;
    text-align: center;
   }
  
   .about_description {
    margin-bottom: var(--mb-2);
   }
  
   .about_img {
    width: 200px;
    justify-self: center;
    padding-top: 1rem;
    transition: .3s;
   }
   .about_img:hover {
    transform: translateY(-5rem);
   }